@import '@scss/const.scss';

.primary-container {
    padding: $cont-pad;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    .h2 {
        margin-bottom: 30px;
    }
}