@import '@scss/const.scss';

.header {
    width: 100%;

    .wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-weight: $bold;
    }
}