$fs-h1: 47px;
$fs-h2: 34px;
$fs-text: 18px;
$color-primary: #FFF;
$color-secondary: #F6F6F6;
$bold: 700;
$regular: 500;
$black: #000;
$gray: #828282;
$gray-light: #E5E5E5;
$transition: 0.3s ease-in-out;
$cont-pad: 110px 0;